.center {
    margin: auto;
    Width: fit-content;
    border: 1px solid gainsboro;
    padding: 10px;
}

form {
    background-color: lightgreen;
    border-radius: 10px;
}

button {
    background-color: black;
    color: white;
    border-radius: 15px;
    padding: 3px 15px;
}